.start-new, .details, .reasones, .buy-plan, .footer {
	padding-top: 70px;
	padding-bottom: 120px;
}

.more-power {
	background-image: url(../img/power.png);
	min-height: 850px;
	background-position: center;
	background-size: cover;
}

.reasones {
	background-color: #82ca9c;
}

.buy-plan {
	background-color: #f6f7fa;
}

.footer {
	background-color: #192431;
}