///////////////
//FONTS ICONS//
///////////////

$font-Flaticon-back: "\f100";
$font-Flaticon-bars: "\f101";
$font-Flaticon-behance-logo: "\f102";
$font-Flaticon-cancel: "\f103";
$font-Flaticon-circle: "\f104";
$font-Flaticon-contacts-social-network: "\f105";
$font-Flaticon-dates: "\f106";
$font-Flaticon-down-arrow: "\f107";
$font-Flaticon-dribbble: "\f108";
$font-Flaticon-earth: "\f109";
$font-Flaticon-facebook-logo: "\f10a";
$font-Flaticon-google-plus: "\f10b";
$font-Flaticon-google-plus-symbol: "\f10c";
$font-Flaticon-heart: "\f10d";
$font-Flaticon-instagram-social-network-logo-of-photo-camera: "\f10e";
$font-Flaticon-left-arrow: "\f10f";
$font-Flaticon-left-arrow-1: "\f110";
$font-Flaticon-link-symbol: "\f111";
$font-Flaticon-linkedin-letters: "\f112";
$font-Flaticon-linkedin-logo: "\f113";
$font-Flaticon-mail: "\f114";
$font-Flaticon-musica-searcher: "\f115";
$font-Flaticon-next: "\f116";
$font-Flaticon-note-paper-square-and-a-pencil: "\f117";
$font-Flaticon-phone-receiver: "\f118";
$font-Flaticon-photo: "\f119";
$font-Flaticon-right-arrow: "\f11a";
$font-Flaticon-right-arrow-1: "\f11b";
$font-Flaticon-shopping-cart: "\f11c";
$font-Flaticon-small-rocket-ship-silhouette: "\f11d";
$font-Flaticon-social: "\f11e";
$font-Flaticon-star: "\f11f";
$font-Flaticon-technology: "\f120";
$font-Flaticon-youtube-logo: "\f121";
$font-Flaticon-zoom-in: "\f122";

/////////
//FONTS//
/////////

$roboto: 'Roboto', Arial, sans-serif;
$osans: 'Open Sans', Arial, sans-serif;

//////////
//COLORS//
//////////

$black: #000;
$light-black: #1c1c1d;
$white: #fff;
$gray: #51514f;
$light-gray: #f3f3f3;
$yellow: #e8bb22;
$purple: #242237;
